
body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(0, 0, 255);
    margin: 0;
    color: white;
}
.calculadora{
    background: #333333; 
}
.resultado{
    background: rgb(55, 55, 59);
    font-size: 24px;
}    