
html{height: 100%;}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    color: white;
    background-image: url(https://images.unsplash.com/photo-1506508618093-6fe5ce3def4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80)
}
.calculadora{
    background: #333333;
    max-width: 360px;
    min-width: 360px;    
    margin: 0 auto;
    text-align: right;    
}
.resultado{
    background: rgb(55, 55, 59);
    font-size: 40px;
    padding: 10px;
    height: 65px;
    overflow: hidden;
} 
.fila{
    display: flex;
}
button{
    background: rgb(103, 103, 106);
    width: 25%;
    margin:0 ;
    color: white;
    height: 65px;
    border: 1px solid rgb(55, 54, 58);
    font-size: 24px;
    font-weight: 400;

}   
.acciones{
    background: rgb(242, 162, 59)
}
.cero{
    width: 50%;
}